atlassian-ide-plugin.xml
node_modules
*.gz
*.swp
.idea
*.bak
*.log
*.egg
*.egg-info
*.env
*.ini
*.orig
*.cover
*.iml
/.idea
/out
*/local/*
*/dist/*
*/htmlcov/*
medienverwaltung-common/medienverwaltungcommon/local/*
manage_local.py
*/build/*
.directory
