atlassian-ide-plugin.xml
node_modules
*.db
*.gz
*.swp
*.pyc
.idea
/*.conf
*.bak
*.log
*.egg
*.egg-info
*.env
*.ini
*.orig
*,cover
*.iml
/.idea
*/local/*
*/dist/*
*/htmlcov/*
medienverwaltung-common/medienverwaltungcommon/local/*
manage_local.py
*/build/*
.directory
