<h1>Sign in</h1>

<div id="openid_choice" style="width:600px">
    <p class="script-only">Do you already have an account on one of these sites? Click the logo to
        <b>log in</b> with it here:
    </p>

    <div style="clear: both;"></div>

    <div class="script-only" id="openid_btns">
        <a class="google openid_large_btn"
           style="background: url('/img/openid-logos.png') repeat scroll -1px -1px rgb(255, 255, 255);"
           ng-click="signinGoogle()" title="log in with Google"></a>

        <a class="myopenid openid_large_btn"
           style="background: url('/img/openid-logos.png') repeat scroll -1px -187px rgb(255, 255, 255);"
           ng-click="signinMyOpenid()" title="log in with MyOpenID"></a>

        <a class="facebook openid_large_btn"
           style="background: url('/img/openid-logos.png') repeat scroll -1px -456px rgb(255, 255, 255);"
           ng-click="signinFacebook()" title="log in with Facebook"></a>

        <div style="clear: both;"></div>
        <!-- /Simple OpenID Selector -->
        <div id="simple-openid-selector" style=" float: left;">
            <div id="openid-url-input-area">
                <noscript>
                    <p class="noscript-notice">Because JavaScript is disabled, you can only log in by
                        entering your OpenID URL manually:</p>
                </noscript>
                <p class="script-only">Or, you can manually enter your OpenID</p>

                <form method="get" action="/auth/openid">
                    <div class="control-group">
                        <input type="text" tabindex="100" style="height:28px; width:500px;"
                               class="openid-identifier" name="openid_identifier" id="openid_identifier">
                        <input type="submit" tabindex="101" value="Log in"
                               style="margin-left:5px; height:36px;" id="submit-button">
                    </div>
                </form>
            </div>
        </div>
        <!-- Password Login -->

        <div style="clear: both;"></div>
        <div id="password-login" style=" float: left;">
            <form method="post" action="/login">
                <h2>Password Login</h2>

                <div class="control-group">
                    <label>E-Mail</label>
                    <input type="text" style="height:28px; width:500px;"
                           class="openid-identifier" ng-model="email"/>
                </div>
                <div class="control-group">
                    <label>Password</label>
                    <input type="text" style="height:28px; width:500px;"
                           class="openid-identifier" ng-model="password"/>

                    <button ng-click="passwordLogin()" style="margin-left:5px; height:36px;">Log in</button>

                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div style="clear: both;"></div>
<div class="script-only" id="affiliate-signup">
    <p>If you don’t already have an account on any of the above</p>

    <p style="margin-left:30px; margin-bottom:30px;">
        <b style="font-size:130%">
            <a href="#/register">click here to sign up</a>
        </b>
    </p>
</div>

<div id="forgot-password">
    <p>If you’ve forgotten or lost your login information</p>

    <p style="margin-left:30px; margin-bottom:30px;"><b style="font-size:130%"><a href="#/recovery">click here to
        recover your account</a></b></p>
</div>

<div id="explaination">
    <h1>What is OpenID?</h1>

    <p>Its a single username and password that allows you to log in to any OpenID-enabled site.</p>

    <p>It works on thousands of websites.</p>

    <p>Its an open standard.</p>

    <p>And we are too lazy to implement our own login process. Which is good, because this way we cant mess it up.</p>

    <ul>
        <li><a href="http://openid.net/what/">learn more</a></li>
        <li><a href="http://openid.net/get/">get one</a></li>
    </ul>
</div>
