<form name="myForm">
    <div class="control-group" ng-class="{error: myForm.isbn.$invalid}">
        <label>E-Mail</label>
        <input type="text" name="email" ng-model="email" required>

        <span ng-show="myForm.email.$error.required" class="help-inline">
            Required
        </span>
    </div>

    <div class="control-group" ng-class="{error: myForm.password1.$invalid}">
        <label>Password</label>
        <input type="password" name="password1" ng-model="password1" required>

        <span ng-show="myForm.password1.$error.required" class="help-inline">
            Required
        </span>
    </div>

    <div class="control-group" ng-class="{error: myForm.password2.$invalid}">
        <label>Password (again)</label>
        <input type="password" name="password2" ng-model="password2" required>

        <span ng-show="myForm.password2.$error.required" class="help-inline">
            Required
        </span>
    </div>
    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="register()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save</button>
</form>
